@import '../../variables.module';

.lds_dual_ring {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
        content: " ";
        display: block;
        width: 74px;
        height: 74px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $main_color_alt;
        border-color: $main_color_alt transparent $main_color_alt transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    text-align: center;
    padding: 40px 0;
}