.input {
    align-items: center;
    margin-right: 2rem;

    label {
        font-weight: bold;
        margin-right: .5rem;
    }

    input {
        width: 2rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        font: inherit;
        padding-left: 0.5rem;
    }
}