@import '../../variables.module';


.section_title {
    width: 100%;
    text-align: center;

    @media(max-width: 560px) {
        width: 96%;
        margin: 0 auto;
    }
}

.subtitle {
    color: $main_color;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: -20px;
}

.title {
    font-size: 2.3rem;

    @media(max-width: 963px) {
        font-size: 2rem;

    }

    @media(max-width: 560px) {
        font-size: 1.7rem;
    }
}