@import '../../../variables.module.scss';

.item_content {
    width: 30%;
    text-align: center;
    margin-top: 40px;

    @media(max-width: 840px) {
        width: 60%;
    }

    @media(max-width: 560px) {
        width: 80%;
    }

    img {
        width: 64px;
        height: 64px;
    }

    p {
        color: $text_color;
    }
}