@import '../../../variables.module.scss';

.form {
    margin: 1rem 0;
    padding-left: 25px;
    max-height: 10rem;
    overflow: auto;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}

.control input {
    font: inherit;
    font-size: .9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;

    @media(max-width: 530px) {
        width: 15rem;
        max-width: 100%;
    }
}



.actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

.invalid input {
    border: 1px solid $red_color;
    background-color: $light_color;
}

.invalid input:focus {
    border-color: $orange_color;
    background-color: $light_color;
}

.error_text {
    color: $red_color;
}