@import '../../../variables.module.scss';

.form {
    margin: 1rem 0;
    padding-left: 25px;
    max-height: 10rem;
    overflow: auto;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}

.control input {
    font: inherit;
    font-size: .9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
}


// .invalid_control {
//     margin-bottom: 0.5rem;


//     label {
//         font-weight: bold;
//         margin-bottom: 0.25rem;
//         display: block;
//         color: red;
//     }

//     input {
//         font: inherit;
//         border: 1px solid #b40e0e;
//         border-radius: 4px;
//         width: 20rem;
//         max-width: 100%;
//     }

// }




.actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    margin-top: 2rem;
}




.invalid input {
    border-color: $main_color;
    background-color: #ffeff1;
}


.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error_text {
    color: #b40e0e;
}