@import '../../variables.module';

.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    @media(max-width: 840px) {
        flex-direction: column;
    }

    .title {
        margin-right: 50px;
        text-align: right;

        @media(max-width: 840px) {
            width: 100%;
            text-align: center;
        }

        h1 {
            font-size: 5.5rem;
            color: $main_color;

            @media(max-width: 1290px) {
                font-size: 4.5rem;
            }

            @media(max-width: 1083px) {
                font-size: 3.5rem;
            }

            @media(max-width: 963px) {
                font-size: 3.4rem;
            }

            @media(max-width: 820px) {
                font-size: 2.7rem;
            }

        }

        h2 {
            font-size: 3.5rem;
            margin-top: -30px;
            color: $title_color;

            @media(max-width: 1290px) {
                font-size: 3rem;
            }

            @media(max-width: 1083px) {
                font-size: 2.4rem;
            }

            @media(max-width: 963px) {
                font-size: 2.1rem;
            }

            @media(max-width: 560px) {
                font-size: 1.25rem;
            }

        }

    }

    .image {
        width: 550px;
        height: auto;
        margin-left: 30px;

        img {
            width: 100%;
            height: 100%;
        }

        @media(max-width: 1285px) {
            margin-left: 10px;
            width: 500px;

        }

        @media(max-width: 963px) {
            margin-left: 10px;
            width: 50%;

        }

        @media(max-width: 840px) {
            width: 340px;
            margin: auto;
            margin-top: 25px;
        }

        @media(max-width: 560px) {
            width: 240px;
            margin: auto;
            margin-top: 25px;
        }
    }

}